<a href="https://colab.research.google.com/github/allen44/riiid-test-answer-prediction/blob/main/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%cd /content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/
%pwd

/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction

'/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction'

## Preprocessed data

In [2]:
import pickle
from pathlib import Path

# #Define data paths
df_train_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_train_preprocessed.pkl.gzip')
df_lectures_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_lectures_preprocessed.pkl.gzip')
df_questions_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_questions_preprocessed.pkl.gzip')

Using our insights gained from the EDA, when can import the data from csv with the best preprocessing for feature engineering.

In [3]:
with open(df_train_preprocessed_path, 'rb') as f:
  df_train = pickle.load(f)

with open(df_lectures_preprocessed_path, 'rb') as f:
  df_lectures = pickle.load(f)

with open(df_questions_preprocessed_path, 'rb') as f:
  df_questions = pickle.load(f)

assert df_train['content_id'].dtype == df_lectures['lecture_id'].dtype
assert df_questions['question_id'].dtype == df_lectures['lecture_id'].dtype

df_train.shape, df_lectures.shape, df_questions.shape

((101230331, 9), (418, 4), (13522, 192))

In [5]:
# Use a subset of df_train
df_train = df_train[df_train.index % 1000 == 0]
df_train.head()

                     timestamp  ... prior_question_had_explanation
row_id                          ...
0      2018-01-02 03:03:47.951  ...                           True
1000   2018-06-25 19:32:50.920  ...                           True
2000   2018-01-20 21:54:35.915  ...                           True
3000   2018-02-26 01:28:59.702  ...                           True
4000   2018-03-08 03:28:44.125  ...                           True

[5 rows x 9 columns]

## Manually add features

## Install and import featuretools

In [10]:
# % pip install featuretools dask distributed tornado
import featuretools as ft

# Prepare data

First, we specify a dictionary with all the entities in our dataset.

In [11]:
# Define entity set
es = ft.EntitySet()

# Add df_train to entity set
es.entity_from_dataframe(entity_id='train', 
                         dataframe=df_train,
                         index='row_id',
                         time_index='timestamp')

Entityset: None
  Entities:
    train [Rows: 101231, Columns: 10]
  Relationships:
    No relationships

In [12]:
# Add df_lectures to entity set
es.entity_from_dataframe(entity_id='lectures', dataframe=df_lectures, index='lecture_id')

Entityset: None
  Entities:
    train [Rows: 101231, Columns: 10]
    lectures [Rows: 418, Columns: 4]
  Relationships:
    No relationships

In [13]:
# Add df_questions to entity set
es.entity_from_dataframe(entity_id='questions', dataframe=df_questions, index='question_id')

Entityset: None
  Entities:
    train [Rows: 101231, Columns: 10]
    lectures [Rows: 418, Columns: 4]
    questions [Rows: 13522, Columns: 192]
  Relationships:
    No relationships

In [14]:
es['train'].variables

[<Variable: row_id (dtype = index)>,
 <Variable: timestamp (dtype: datetime_time_index, format: None)>,
 <Variable: user_id (dtype = categorical)>,
 <Variable: content_id (dtype = categorical)>,
 <Variable: content_type_id (dtype = categorical)>,
 <Variable: task_container_id (dtype = categorical)>,
 <Variable: user_answer (dtype = categorical)>,
 <Variable: answered_correctly (dtype = categorical)>,
 <Variable: prior_question_elapsed_time (dtype = numeric)>,
 <Variable: prior_question_had_explanation (dtype = boolean)>]

In [15]:
es['lectures'].variables

[<Variable: lecture_id (dtype = index)>,
 <Variable: tag (dtype = categorical)>,
 <Variable: part (dtype = categorical)>,
 <Variable: type_of (dtype = categorical)>]

In [16]:
es['questions'].variables

[<Variable: question_id (dtype = index)>,
 <Variable: bundle_id (dtype = categorical)>,
 <Variable: correct_answer (dtype = categorical)>,
 <Variable: part (dtype = categorical)>,
 <Variable: 0 (dtype = boolean)>,
 <Variable: 1 (dtype = boolean)>,
 <Variable: 10 (dtype = boolean)>,
 <Variable: 100 (dtype = boolean)>,
 <Variable: 101 (dtype = boolean)>,
 <Variable: 102 (dtype = boolean)>,
 <Variable: 103 (dtype = boolean)>,
 <Variable: 104 (dtype = boolean)>,
 <Variable: 105 (dtype = boolean)>,
 <Variable: 106 (dtype = boolean)>,
 <Variable: 107 (dtype = boolean)>,
 <Variable: 108 (dtype = boolean)>,
 <Variable: 109 (dtype = boolean)>,
 <Variable: 11 (dtype = boolean)>,
 <Variable: 110 (dtype = boolean)>,
 <Variable: 111 (dtype = boolean)>,
 <Variable: 112 (dtype = boolean)>,
 <Variable: 113 (dtype = boolean)>,
 <Variable: 114 (dtype = boolean)>,
 <Variable: 115 (dtype = boolean)>,
 <Variable: 116 (dtype = boolean)>,
 <Variable: 117 (dtype = boolean)>,
 <Variable: 118 (dtype = boolean)>,
 <Variable: 119 (dtype = boolean)>,
 <Variable: 12 (dtype = boolean)>,
 <Variable: 120 (dtype = boolean)>,
 <Variable: 121 (dtype = boolean)>,
 <Variable: 122 (dtype = boolean)>,
 <Variable: 123 (dtype = boolean)>,
 <Variable: 124 (dtype = boolean)>,
 <Variable: 125 (dtype = boolean)>,
 <Variable: 126 (dtype = boolean)>,
 <Variable: 127 (dtype = boolean)>,
 <Variable: 128 (dtype = boolean)>,
 <Variable: 129 (dtype = boolean)>,
 <Variable: 13 (dtype = boolean)>,
 <Variable: 130 (dtype = boolean)>,
 <Variable: 131 (dtype = boolean)>,
 <Variable: 132 (dtype = boolean)>,
 <Variable: 133 (dtype = boolean)>,
 <Variable: 134 (dtype = boolean)>,
 <Variable: 135 (dtype = boolean)>,
 <Variable: 136 (dtype = boolean)>,
 <Variable: 137 (dtype = boolean)>,
 <Variable: 138 (dtype = boolean)>,
 <Variable: 139 (dtype = boolean)>,
 <Variable: 14 (dtype = boolean)>,
 <Variable: 140 (dtype = boolean)>,
 <Variable: 141 (dtype = boolean)>,
 <Variable: 142 (dtype = boolean)>,
 <Variable: 143 (dtype = boolean)>,
 <Variable: 144 (dtype = boolean)>,
 <Variable: 145 (dtype = boolean)>,
 <Variable: 146 (dtype = boolean)>,
 <Variable: 147 (dtype = boolean)>,
 <Variable: 148 (dtype = boolean)>,
 <Variable: 149 (dtype = boolean)>,
 <Variable: 15 (dtype = boolean)>,
 <Variable: 150 (dtype = boolean)>,
 <Variable: 151 (dtype = boolean)>,
 <Variable: 152 (dtype = boolean)>,
 <Variable: 153 (dtype = boolean)>,
 <Variable: 154 (dtype = boolean)>,
 <Variable: 155 (dtype = boolean)>,
 <Variable: 156 (dtype = boolean)>,
 <Variable: 157 (dtype = boolean)>,
 <Variable: 158 (dtype = boolean)>,
 <Variable: 159 (dtype = boolean)>,
 <Variable: 16 (dtype = boolean)>,
 <Variable: 160 (dtype = boolean)>,
 <Variable: 161 (dtype = boolean)>,
 <Variable: 162 (dtype = boolean)>,
 <Variable: 163 (dtype = boolean)>,
 <Variable: 164 (dtype = boolean)>,
 <Variable: 165 (dtype = boolean)>,
 <Variable: 166 (dtype = boolean)>,
 <Variable: 167 (dtype = boolean)>,
 <Variable: 168 (dtype = boolean)>,
 <Variable: 169 (dtype = boolean)>,
 <Variable: 17 (dtype = boolean)>,
 <Variable: 170 (dtype = boolean)>,
 <Variable: 171 (dtype = boolean)>,
 <Variable: 172 (dtype = boolean)>,
 <Variable: 173 (dtype = boolean)>,
 <Variable: 174 (dtype = boolean)>,
 <Variable: 175 (dtype = boolean)>,
 <Variable: 176 (dtype = boolean)>,
 <Variable: 177 (dtype = boolean)>,
 <Variable: 178 (dtype = boolean)>,
 <Variable: 179 (dtype = boolean)>,
 <Variable: 18 (dtype = boolean)>,
 <Variable: 180 (dtype = boolean)>,
 <Variable: 181 (dtype = boolean)>,
 <Variable: 182 (dtype = boolean)>,
 <Variable: 183 (dtype = boolean)>,
 <Variable: 184 (dtype = boolean)>,
 <Variable: 185 (dtype = boolean)>,
 <Variable: 186 (dtype = boolean)>,
 <Variable: 187 (dtype = boolean)>,
 <Variable: 19 (dtype = boolean)>,
 <Variable: 2 (dtype = boolean)>,
 <Variable: 20 (dtype = boolean)>,
 <Variable: 21 (dtype = boolean)>,
 <Variable: 22 (dtype = boolean)>,
 <Variable: 23 (dtype = boolean)>,
 <Variable: 24 (dtype = boolean)>,
 <Variable: 25 (dtype = boolean)>,
 <Variable: 26 (dtype = boolean)>,
 <Variable: 27 (dtype = boolean)>,
 <Variable: 28 (dtype = boolean)>,
 <Variable: 29 (dtype = boolean)>,
 <Variable: 3 (dtype = boolean)>,
 <Variable: 30 (dtype = boolean)>,
 <Variable: 31 (dtype = boolean)>,
 <Variable: 32 (dtype = boolean)>,
 <Variable: 33 (dtype = boolean)>,
 <Variable: 34 (dtype = boolean)>,
 <Variable: 35 (dtype = boolean)>,
 <Variable: 36 (dtype = boolean)>,
 <Variable: 37 (dtype = boolean)>,
 <Variable: 38 (dtype = boolean)>,
 <Variable: 39 (dtype = boolean)>,
 <Variable: 4 (dtype = boolean)>,
 <Variable: 40 (dtype = boolean)>,
 <Variable: 41 (dtype = boolean)>,
 <Variable: 42 (dtype = boolean)>,
 <Variable: 43 (dtype = boolean)>,
 <Variable: 44 (dtype = boolean)>,
 <Variable: 45 (dtype = boolean)>,
 <Variable: 46 (dtype = boolean)>,
 <Variable: 47 (dtype = boolean)>,
 <Variable: 48 (dtype = boolean)>,
 <Variable: 49 (dtype = boolean)>,
 <Variable: 5 (dtype = boolean)>,
 <Variable: 50 (dtype = boolean)>,
 <Variable: 51 (dtype = boolean)>,
 <Variable: 52 (dtype = boolean)>,
 <Variable: 53 (dtype = boolean)>,
 <Variable: 54 (dtype = boolean)>,
 <Variable: 55 (dtype = boolean)>,
 <Variable: 56 (dtype = boolean)>,
 <Variable: 57 (dtype = boolean)>,
 <Variable: 58 (dtype = boolean)>,
 <Variable: 59 (dtype = boolean)>,
 <Variable: 6 (dtype = boolean)>,
 <Variable: 60 (dtype = boolean)>,
 <Variable: 61 (dtype = boolean)>,
 <Variable: 62 (dtype = boolean)>,
 <Variable: 63 (dtype = boolean)>,
 <Variable: 64 (dtype = boolean)>,
 <Variable: 65 (dtype = boolean)>,
 <Variable: 66 (dtype = boolean)>,
 <Variable: 67 (dtype = boolean)>,
 <Variable: 68 (dtype = boolean)>,
 <Variable: 69 (dtype = boolean)>,
 <Variable: 7 (dtype = boolean)>,
 <Variable: 70 (dtype = boolean)>,
 <Variable: 71 (dtype = boolean)>,
 <Variable: 72 (dtype = boolean)>,
 <Variable: 73 (dtype = boolean)>,
 <Variable: 74 (dtype = boolean)>,
 <Variable: 75 (dtype = boolean)>,
 <Variable: 76 (dtype = boolean)>,
 <Variable: 77 (dtype = boolean)>,
 <Variable: 78 (dtype = boolean)>,
 <Variable: 79 (dtype = boolean)>,
 <Variable: 8 (dtype = boolean)>,
 <Variable: 80 (dtype = boolean)>,
 <Variable: 81 (dtype = boolean)>,
 <Variable: 82 (dtype = boolean)>,
 <Variable: 83 (dtype = boolean)>,
 <Variable: 84 (dtype = boolean)>,
 <Variable: 85 (dtype = boolean)>,
 <Variable: 86 (dtype = boolean)>,
 <Variable: 87 (dtype = boolean)>,
 <Variable: 88 (dtype = boolean)>,
 <Variable: 89 (dtype = boolean)>,
 <Variable: 9 (dtype = boolean)>,
 <Variable: 90 (dtype = boolean)>,
 <Variable: 91 (dtype = boolean)>,
 <Variable: 92 (dtype = boolean)>,
 <Variable: 93 (dtype = boolean)>,
 <Variable: 94 (dtype = boolean)>,
 <Variable: 95 (dtype = boolean)>,
 <Variable: 96 (dtype = boolean)>,
 <Variable: 97 (dtype = boolean)>,
 <Variable: 98 (dtype = boolean)>,
 <Variable: 99 (dtype = boolean)>]

In [17]:
import gc

del df_train
del df_lectures
del df_questions

gc.collect()

153

In [18]:
r_lectures_train= ft.Relationship(es["lectures"]["lecture_id"],
                                          es["train"]["content_id"])

r_questions_train = ft.Relationship(es["questions"]["question_id"],
                                    es["train"]["content_id"])

es = es.add_relationship(r_lectures_train)
es = es.add_relationship(r_questions_train)
es

Entityset: None
  Entities:
    train [Rows: 101231, Columns: 10]
    lectures [Rows: 418, Columns: 4]
    questions [Rows: 13522, Columns: 192]
  Relationships:
    train.content_id -> lectures.lecture_id
    train.content_id -> questions.question_id

In [19]:
es['train']['answered_correctly'].interesting_values = [0, 1]

In [20]:
feature_defs = ft.dfs(entityset=es, target_entity='train', 
                      where_primitives = ['sum', 'mean'],
                      max_depth=2, features_only=True)

print(f'This will generate {len(feature_defs)} features.\n')

This will generate 242 features.

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['mean', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

In [21]:
import random; random.seed(42)

random.sample(feature_defs, 10)

[<Feature: questions.60>,
 <Feature: questions.107>,
 <Feature: prior_question_elapsed_time>,
 <Feature: questions.84>,
 <Feature: questions.145>,
 <Feature: questions.138>,
 <Feature: questions.133>,
 <Feature: questions.113>,
 <Feature: questions.83>,
 <Feature: questions.105>]

### Aggregation Primitives

In [ ]:
all_p = ft.list_primitives()
trans_p = all_p.loc[all_p['type'] == 'transform'].copy()
agg_p = all_p.loc[all_p['type'] == 'aggregation'].copy()

pd.options.display.max_colwidth = 100
# agg_p

In [23]:
# Specify aggregation primitives
agg_primitives = ['sum', 'time_since_last', 'avg_time_between', 'all', 'mode', 'num_unique', 'min', 'last', 
                  'mean', 'percent_true', 'max', 'std', 'count']

## Transform Primitives

In [ ]:
# trans_p

In [25]:
# Specify transformation primitives
trans_primitives = ['cum_sum', 'diff', 'time_since_previous']

### Where Primitives

These primitives are applied to the `interesting_values` to build conditional features.

In [26]:
# Specify where primitives
where_primitives = ['sum', 'mean', 'percent_true', 'all', 'any']

## Custom Primitives

For this problem, I wrote a custom primitive that calculates the sum of a value in the month prior to the cutoff time.

The second custom primitive finds the time since a previous true value. It simply finds the time between True examples.

In [27]:
def total_previous_month(numeric, datetime, time):
    """Return total of `numeric` column in the month prior to `time`."""
    df = pd.DataFrame({'value': numeric, 'date': datetime})
    previous_month = time.month - 1
    year = time.year
   
    # Handle January
    if previous_month == 0:
        previous_month = 12
        year = time.year - 1
        
    # Filter data and sum up total
    df = df[(df['date'].dt.month == previous_month) & (df['date'].dt.year == year)]
    total = df['value'].sum()
    
    return total


def time_since_true(boolean, datetime):
    """Calculate time since previous true value"""
    
    if np.any(np.array(list(boolean)) == 1):
        # Create dataframe sorted from oldest to newest 
        df = pd.DataFrame({'value': boolean, 'date': datetime}).\
                sort_values('date', ascending = False).reset_index()

        older_date = None

        # Iterate through each date in reverse order
        for date in df.loc[df['value'] == 1, 'date']:

            # If there was no older true value
            if older_date == None:
                # Subset to times on or after true
                times_after_idx = df.loc[df['date'] >= date].index

            else:
                # Subset to times on or after true but before previous true
                times_after_idx = df.loc[(df['date'] >= date) & (df['date'] < older_date)].index
            older_date = date
            # Calculate time since previous true
            df.loc[times_after_idx, 'time_since_previous'] = (df.loc[times_after_idx, 'date'] - date).dt.total_seconds()

        return list(df['time_since_previous'])[::-1]
    
    # Handle case with no true values
    else:
        return [np.nan for _ in range(len(boolean))]

### Custom Primitive Implementation

Making a custom primitive is simple: first we define a function (`total_previous_month`) and then we `make_agg_primitive` with `input_type[s]`, a `return_type`, and whether or not the primitive requires the `cutoff_time` through `uses_calc_time`. 

This primitive is an aggregation primitive because it takes in multiple numbers - transactions for the previous month - and returns a single number - the total of the transactions.

In [28]:
from featuretools.primitives import make_agg_primitive

# Takes in a number and outputs a number
total_previous = make_agg_primitive(total_previous_month, 
                                    input_types = [ft.variable_types.Numeric,
                                                   ft.variable_types.Datetime],
                                    return_type = ft.variable_types.Numeric, 
                                    uses_calc_time = True)

In [29]:
from featuretools.primitives import make_trans_primitive

# Specify the inputs and return
time_since = make_trans_primitive(time_since_true, 
                                  input_types = [ft.variable_types.Boolean, 
                                                  ft.variable_types.Datetime],
                                  return_type = ft.variable_types.Numeric)

Now just have to pass this in as another aggregation primitive for Featuretools to use it in calculations.

Let's add the two custom primitives to the respective lists. In the final version of feature engineering, I did not use the `time_since` primitive. I ran into problems with the implementation but would encourage anyone to try and fix it or build their own custom primitive[s].

In [30]:
agg_primitives.append(total_previous)
trans_primitives.append(time_since)

## Deep Feature Synthesis with Specified Primitives

We'll again run Deep Feature Synthesis to make the feature definitions this time using the selected primitives and the custom primitives.

In [31]:
feature_defs = ft.dfs(entityset=es, target_entity='train', 
                      # cutoff_time = cutoff_times, 
                      agg_primitives = agg_primitives,
                      trans_primitives = trans_primitives,
                      where_primitives = where_primitives,
                      chunk_size = 100, #len(cutoff_times), 
                      # cutoff_time_in_index = True,
                      max_depth = 2, 
                      features_only = True)

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['all', 'any', 'mean', 'percent_true', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

In [32]:
print(f'This will generate {len(feature_defs)} features.')

This will generate 452 features.

In [33]:
random.sample(feature_defs, 15)

[<Feature: TIME_SINCE_TRUE(questions.172, timestamp)>,
 <Feature: TIME_SINCE_TRUE(questions.33, timestamp)>,
 <Feature: TIME_SINCE_TRUE(questions.111, timestamp)>,
 <Feature: questions.121>,
 <Feature: TIME_SINCE_TRUE(questions.132, timestamp)>,
 <Feature: lectures.LAST(train.user_id)>,
 <Feature: questions.correct_answer>,
 <Feature: questions.bundle_id>,
 <Feature: questions.124>,
 <Feature: questions.182>,
 <Feature: questions.20>,
 <Feature: questions.NUM_UNIQUE(train.user_id)>,
 <Feature: TIME_SINCE_TRUE(questions.138, timestamp)>,
 <Feature: lectures.part>,
 <Feature: TIME_SINCE_TRUE(questions.119, timestamp)>]

# Run Deep Feature Synthesis

Once we're happy with the features that will be generated, we can run deep feature synthesis to make the actual features. We need to change `feature_only` to `False` and then we're good to go.

In [34]:
from timeit import default_timer as timer

start = timer()
feature_matrix, feature_defs = ft.dfs(entityset=es, 
                                      target_entity='train', 
                                      # cutoff_time = cutoff_times, 
                                      agg_primitives = agg_primitives,
                                      trans_primitives = trans_primitives,
                                      where_primitives = where_primitives,
                                      max_depth = 2, features_only = False,
                                      verbose = 1, 
                                      chunk_size = 100,  
                                      # n_jobs = -1,
                                      # cutoff_time_in_index = True
                                      )
end = timer()
print(f'{round(end - start)} seconds elapsed.')

Built 452 features
Elapsed: 00:00 | Progress:   0%|

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['all', 'any', 'mean', 'percent_true', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Elapsed: 23:19 | Progress: 100%|██████████
1400 seconds elapsed.

The `chunk_size` is a parameter that may need to be adjusted to optimize the calculation. I suggest playing around with this parameter to find the optimal value. Generally I've found that a large value makes the calculation proceed quicker although it depends on the machine in use and the number of unique cutoff times.

In [55]:
feature_matrix

          user_id  ... TIME_SINCE_TRUE(questions.99, timestamp)
row_id             ...
0             115  ...                                      NaN
164       3505219  ...                                      NaN
451       9063293  ...                                      NaN
526      10501741  ...                                      NaN
811      16467140  ...                                      NaN
...           ...  ...                                      ...
32556   697068556  ...                               331073.124
14376   311071830  ...                               521246.334
44262   937249824  ...                              1273816.379
25738   550249756  ...                              1607458.035
7040    153187243  ...                              4636367.203

[101231 rows x 452 columns]

We can save these feature definitions as a binary file which will allow us to make the same exact features for another entityset of the same format. This is useful when we have multiple partitions and we want to make the same features for each. Instead of remaking the feature definitions, we pass in the same feature definitions to a call to `calculate_feature_matrix`.

In [ ]:
feature_defs = ft.load_features('./data/churn/features.txt')
print(f'There are {len(feature_defs)} features.')

# Conclusions

Automated feature engineering is a significant improvement over manual feature engineering in terms of both time and modeling performance. In this notebook, we implemented an automated feature engineering workflow with Featuretools for the customer churn problem. Given customer data and label times, we can now calculate a feature matrix with several hundred relevant features for predicting customer churn while ensuring that our features are made with valid data for each cutoff time. 

Along the way, we implemented a number of Featuretools concepts:

1. An entityset and entities
2. Relationships between entities
3. Cutoff times
4. Feature primitives
5. Custom primitives
6. Deep feature synthesis

These concepts will serve us well in future machine learning projects that we can tackle with automated feature engineering.

## Next Steps

Although we often hear that "data is the fuel of machine learning", data is not exactly a fuel but more like crude oil. _Features_ are the refined product that we feed into a machine learning model to make accurate predictions. After performing prediction engineering and automated feature engineering, the next step is to use these features in a predictive model to estimate the _label_ using the _features_. 

Generating hundreds of features automatically is impressive, but if those features cannot allow a model to learn our prediction problem then they are not mcuch help! The next step is to use our features and labeled historical examples to train a machine learning model to make predictions of customer churn. We'll make sure to test our model using a hold-out testing set to estimate performance on new data. Then, after validating our model, we can use it on new examples by passing the data through the feature engineering process. 


If you want to see how to parallelize feature engineering in Spark, see the `Feature Engineering on Spark` notebook. Otherwise, the next notebook is `Modeling`, where we develop a machine learning model to predict churn using the historical labeled examples and the automatically engineered features.