<a href="https://colab.research.google.com/github/allen44/riiid-test-answer-prediction/blob/main/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%cd /content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/
%pwd

/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction

'/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction'

## Preprocessed data

In [32]:
import pickle
from pathlib import Path

# #Define data paths
df_train_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_train_preprocessed.pkl.gzip')
df_lectures_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_lectures_preprocessed.pkl.gzip')
df_questions_preprocessed_path = Path('/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/df_questions_preprocessed.pkl.gzip')

Using our insights gained from the EDA, when can import the data from csv with the best preprocessing for feature engineering.

In [33]:
with open(df_train_preprocessed_path, 'rb') as f:
  df_train = pickle.load(f)

with open(df_lectures_preprocessed_path, 'rb') as f:
  df_lectures = pickle.load(f)

with open(df_questions_preprocessed_path, 'rb') as f:
  df_questions = pickle.load(f)

assert df_train['content_id'].dtype == df_lectures['lecture_id'].dtype
assert df_questions['question_id'].dtype == df_lectures['lecture_id'].dtype

df_train.shape, df_lectures.shape, df_questions.shape

((101230331, 9), (418, 4), (13522, 192))

In [34]:
# Use a subset of df_train
df_train = df_train[df_train.index % 10000 == 0]

## Manually add features

In [35]:
df_users = pd.DataFrame(df_train['user_id'].unique(), columns=['user_id'])
df_users

          user_id
0             115
1           91216
2          220268
3          650467
4         1084314
...           ...
10052  2146686585
10053  2146925942
10054  2147012157
10055  2147192385
10056  2147481750

[10057 rows x 1 columns]

In [36]:
# Get and set the union of the three cat dtypes
categories = set(df_train['user_id'].dtype.categories)\
            .union(set(df_users['user_id'].dtype.categories))

df_train['user_id'] = pd.Categorical(df_train['user_id'], categories=categories)
df_users['user_id'] = pd.Categorical(df_users['user_id'], categories=categories)

# Confirm that the dtypes are the same
assert df_users['user_id'].dtype == df_train['user_id'].dtype

## Install and import featuretools

In [37]:
# % pip install featuretools dask distributed tornado
import featuretools as ft

# Prepare data

First, we specify a dictionary with all the entities in our dataset.

In [38]:
# Define entity set
es = ft.EntitySet()

# Add df_train to entity set
es.entity_from_dataframe(entity_id='train', 
                         dataframe=df_train,
                         index='row_id',
                         time_index='timestamp')

es['train'].variables

/usr/local/lib/python3.7/dist-packages/featuretools/entityset/entity.py:463: UserWarning: index row_id not found in dataframe, creating new integer column
  "integer column".format(index))

[<Variable: row_id (dtype = index)>,
 <Variable: timestamp (dtype: datetime_time_index, format: None)>,
 <Variable: user_id (dtype = categorical)>,
 <Variable: content_id (dtype = categorical)>,
 <Variable: content_type_id (dtype = categorical)>,
 <Variable: task_container_id (dtype = categorical)>,
 <Variable: user_answer (dtype = categorical)>,
 <Variable: answered_correctly (dtype = categorical)>,
 <Variable: prior_question_elapsed_time (dtype = numeric)>,
 <Variable: prior_question_had_explanation (dtype = boolean)>]

In [39]:
# Add df_lectures to entity set
es.entity_from_dataframe(entity_id='lectures', dataframe=df_lectures, index='lecture_id')

es['lectures'].variables

[<Variable: lecture_id (dtype = index)>,
 <Variable: tag (dtype = categorical)>,
 <Variable: part (dtype = categorical)>,
 <Variable: type_of (dtype = categorical)>]

In [40]:
# Add df_questions to entity set
es.entity_from_dataframe(entity_id='questions', dataframe=df_questions, index='question_id')

es['questions'].variables

[<Variable: question_id (dtype = index)>,
 <Variable: bundle_id (dtype = categorical)>,
 <Variable: correct_answer (dtype = categorical)>,
 <Variable: part (dtype = categorical)>,
 <Variable: 0 (dtype = boolean)>,
 <Variable: 1 (dtype = boolean)>,
 <Variable: 10 (dtype = boolean)>,
 <Variable: 100 (dtype = boolean)>,
 <Variable: 101 (dtype = boolean)>,
 <Variable: 102 (dtype = boolean)>,
 <Variable: 103 (dtype = boolean)>,
 <Variable: 104 (dtype = boolean)>,
 <Variable: 105 (dtype = boolean)>,
 <Variable: 106 (dtype = boolean)>,
 <Variable: 107 (dtype = boolean)>,
 <Variable: 108 (dtype = boolean)>,
 <Variable: 109 (dtype = boolean)>,
 <Variable: 11 (dtype = boolean)>,
 <Variable: 110 (dtype = boolean)>,
 <Variable: 111 (dtype = boolean)>,
 <Variable: 112 (dtype = boolean)>,
 <Variable: 113 (dtype = boolean)>,
 <Variable: 114 (dtype = boolean)>,
 <Variable: 115 (dtype = boolean)>,
 <Variable: 116 (dtype = boolean)>,
 <Variable: 117 (dtype = boolean)>,
 <Variable: 118 (dtype = boolean)>,
 <Variable: 119 (dtype = boolean)>,
 <Variable: 12 (dtype = boolean)>,
 <Variable: 120 (dtype = boolean)>,
 <Variable: 121 (dtype = boolean)>,
 <Variable: 122 (dtype = boolean)>,
 <Variable: 123 (dtype = boolean)>,
 <Variable: 124 (dtype = boolean)>,
 <Variable: 125 (dtype = boolean)>,
 <Variable: 126 (dtype = boolean)>,
 <Variable: 127 (dtype = boolean)>,
 <Variable: 128 (dtype = boolean)>,
 <Variable: 129 (dtype = boolean)>,
 <Variable: 13 (dtype = boolean)>,
 <Variable: 130 (dtype = boolean)>,
 <Variable: 131 (dtype = boolean)>,
 <Variable: 132 (dtype = boolean)>,
 <Variable: 133 (dtype = boolean)>,
 <Variable: 134 (dtype = boolean)>,
 <Variable: 135 (dtype = boolean)>,
 <Variable: 136 (dtype = boolean)>,
 <Variable: 137 (dtype = boolean)>,
 <Variable: 138 (dtype = boolean)>,
 <Variable: 139 (dtype = boolean)>,
 <Variable: 14 (dtype = boolean)>,
 <Variable: 140 (dtype = boolean)>,
 <Variable: 141 (dtype = boolean)>,
 <Variable: 142 (dtype = boolean)>,
 <Variable: 143 (dtype = boolean)>,
 <Variable: 144 (dtype = boolean)>,
 <Variable: 145 (dtype = boolean)>,
 <Variable: 146 (dtype = boolean)>,
 <Variable: 147 (dtype = boolean)>,
 <Variable: 148 (dtype = boolean)>,
 <Variable: 149 (dtype = boolean)>,
 <Variable: 15 (dtype = boolean)>,
 <Variable: 150 (dtype = boolean)>,
 <Variable: 151 (dtype = boolean)>,
 <Variable: 152 (dtype = boolean)>,
 <Variable: 153 (dtype = boolean)>,
 <Variable: 154 (dtype = boolean)>,
 <Variable: 155 (dtype = boolean)>,
 <Variable: 156 (dtype = boolean)>,
 <Variable: 157 (dtype = boolean)>,
 <Variable: 158 (dtype = boolean)>,
 <Variable: 159 (dtype = boolean)>,
 <Variable: 16 (dtype = boolean)>,
 <Variable: 160 (dtype = boolean)>,
 <Variable: 161 (dtype = boolean)>,
 <Variable: 162 (dtype = boolean)>,
 <Variable: 163 (dtype = boolean)>,
 <Variable: 164 (dtype = boolean)>,
 <Variable: 165 (dtype = boolean)>,
 <Variable: 166 (dtype = boolean)>,
 <Variable: 167 (dtype = boolean)>,
 <Variable: 168 (dtype = boolean)>,
 <Variable: 169 (dtype = boolean)>,
 <Variable: 17 (dtype = boolean)>,
 <Variable: 170 (dtype = boolean)>,
 <Variable: 171 (dtype = boolean)>,
 <Variable: 172 (dtype = boolean)>,
 <Variable: 173 (dtype = boolean)>,
 <Variable: 174 (dtype = boolean)>,
 <Variable: 175 (dtype = boolean)>,
 <Variable: 176 (dtype = boolean)>,
 <Variable: 177 (dtype = boolean)>,
 <Variable: 178 (dtype = boolean)>,
 <Variable: 179 (dtype = boolean)>,
 <Variable: 18 (dtype = boolean)>,
 <Variable: 180 (dtype = boolean)>,
 <Variable: 181 (dtype = boolean)>,
 <Variable: 182 (dtype = boolean)>,
 <Variable: 183 (dtype = boolean)>,
 <Variable: 184 (dtype = boolean)>,
 <Variable: 185 (dtype = boolean)>,
 <Variable: 186 (dtype = boolean)>,
 <Variable: 187 (dtype = boolean)>,
 <Variable: 19 (dtype = boolean)>,
 <Variable: 2 (dtype = boolean)>,
 <Variable: 20 (dtype = boolean)>,
 <Variable: 21 (dtype = boolean)>,
 <Variable: 22 (dtype = boolean)>,
 <Variable: 23 (dtype = boolean)>,
 <Variable: 24 (dtype = boolean)>,
 <Variable: 25 (dtype = boolean)>,
 <Variable: 26 (dtype = boolean)>,
 <Variable: 27 (dtype = boolean)>,
 <Variable: 28 (dtype = boolean)>,
 <Variable: 29 (dtype = boolean)>,
 <Variable: 3 (dtype = boolean)>,
 <Variable: 30 (dtype = boolean)>,
 <Variable: 31 (dtype = boolean)>,
 <Variable: 32 (dtype = boolean)>,
 <Variable: 33 (dtype = boolean)>,
 <Variable: 34 (dtype = boolean)>,
 <Variable: 35 (dtype = boolean)>,
 <Variable: 36 (dtype = boolean)>,
 <Variable: 37 (dtype = boolean)>,
 <Variable: 38 (dtype = boolean)>,
 <Variable: 39 (dtype = boolean)>,
 <Variable: 4 (dtype = boolean)>,
 <Variable: 40 (dtype = boolean)>,
 <Variable: 41 (dtype = boolean)>,
 <Variable: 42 (dtype = boolean)>,
 <Variable: 43 (dtype = boolean)>,
 <Variable: 44 (dtype = boolean)>,
 <Variable: 45 (dtype = boolean)>,
 <Variable: 46 (dtype = boolean)>,
 <Variable: 47 (dtype = boolean)>,
 <Variable: 48 (dtype = boolean)>,
 <Variable: 49 (dtype = boolean)>,
 <Variable: 5 (dtype = boolean)>,
 <Variable: 50 (dtype = boolean)>,
 <Variable: 51 (dtype = boolean)>,
 <Variable: 52 (dtype = boolean)>,
 <Variable: 53 (dtype = boolean)>,
 <Variable: 54 (dtype = boolean)>,
 <Variable: 55 (dtype = boolean)>,
 <Variable: 56 (dtype = boolean)>,
 <Variable: 57 (dtype = boolean)>,
 <Variable: 58 (dtype = boolean)>,
 <Variable: 59 (dtype = boolean)>,
 <Variable: 6 (dtype = boolean)>,
 <Variable: 60 (dtype = boolean)>,
 <Variable: 61 (dtype = boolean)>,
 <Variable: 62 (dtype = boolean)>,
 <Variable: 63 (dtype = boolean)>,
 <Variable: 64 (dtype = boolean)>,
 <Variable: 65 (dtype = boolean)>,
 <Variable: 66 (dtype = boolean)>,
 <Variable: 67 (dtype = boolean)>,
 <Variable: 68 (dtype = boolean)>,
 <Variable: 69 (dtype = boolean)>,
 <Variable: 7 (dtype = boolean)>,
 <Variable: 70 (dtype = boolean)>,
 <Variable: 71 (dtype = boolean)>,
 <Variable: 72 (dtype = boolean)>,
 <Variable: 73 (dtype = boolean)>,
 <Variable: 74 (dtype = boolean)>,
 <Variable: 75 (dtype = boolean)>,
 <Variable: 76 (dtype = boolean)>,
 <Variable: 77 (dtype = boolean)>,
 <Variable: 78 (dtype = boolean)>,
 <Variable: 79 (dtype = boolean)>,
 <Variable: 8 (dtype = boolean)>,
 <Variable: 80 (dtype = boolean)>,
 <Variable: 81 (dtype = boolean)>,
 <Variable: 82 (dtype = boolean)>,
 <Variable: 83 (dtype = boolean)>,
 <Variable: 84 (dtype = boolean)>,
 <Variable: 85 (dtype = boolean)>,
 <Variable: 86 (dtype = boolean)>,
 <Variable: 87 (dtype = boolean)>,
 <Variable: 88 (dtype = boolean)>,
 <Variable: 89 (dtype = boolean)>,
 <Variable: 9 (dtype = boolean)>,
 <Variable: 90 (dtype = boolean)>,
 <Variable: 91 (dtype = boolean)>,
 <Variable: 92 (dtype = boolean)>,
 <Variable: 93 (dtype = boolean)>,
 <Variable: 94 (dtype = boolean)>,
 <Variable: 95 (dtype = boolean)>,
 <Variable: 96 (dtype = boolean)>,
 <Variable: 97 (dtype = boolean)>,
 <Variable: 98 (dtype = boolean)>,
 <Variable: 99 (dtype = boolean)>]

In [41]:
# Add df_users to entity set
es.entity_from_dataframe(entity_id='users', dataframe=df_users, index='user_id')

es['users'].variables

In [42]:
import gc

del df_train
del df_lectures
del df_questions

gc.collect()

1243

In [43]:
r_lectures_train= ft.Relationship(es["lectures"]["lecture_id"],
                                          es["train"]["content_id"])

r_questions_train = ft.Relationship(es["questions"]["question_id"],
                                    es["train"]["content_id"])

r_users_train = ft.Relationship(es["users"]["user_id"],
                                    es["train"]["user_id"])

es = es.add_relationship(r_lectures_train)
es = es.add_relationship(r_questions_train)
es = es.add_relationship(r_users_train)
es

Entityset: None
  Entities:
    train [Rows: 10124, Columns: 10]
    lectures [Rows: 418, Columns: 4]
    questions [Rows: 13522, Columns: 192]
    users [Rows: 10057, Columns: 1]
  Relationships:
    train.content_id -> lectures.lecture_id
    train.content_id -> questions.question_id
    train.user_id -> users.user_id

In [44]:
es['train']['answered_correctly'].interesting_values = [0, 1]

In [60]:
for entity in ['train', 'lectures', 'questions', 'users']:
  feature_defs = ft.dfs(entityset=es, target_entity=entity, 
                      where_primitives = ['sum', 'mean'],
                      max_depth=2, features_only=True)

  print(f'This will generate {len(feature_defs)} features for {entity}.\n')

This will generate 260 features for train.

This will generate 227 features for lectures.

This will generate 227 features for questions.

This will generate 230 features for users.

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['mean', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

In [47]:
import random; random.seed(42)

random.sample(feature_defs, 10)

[<Feature: PERCENT_TRUE(train.questions.40)>,
 <Feature: MODE(train.questions.correct_answer)>,
 <Feature: MODE(train.content_type_id)>,
 <Feature: PERCENT_TRUE(train.questions.64)>,
 <Feature: PERCENT_TRUE(train.questions.125)>,
 <Feature: PERCENT_TRUE(train.questions.118)>,
 <Feature: PERCENT_TRUE(train.questions.113)>,
 <Feature: NUM_UNIQUE(train.lectures.tag)>,
 <Feature: PERCENT_TRUE(train.questions.63)>,
 <Feature: MODE(train.lectures.type_of)>]

### Aggregation Primitives

In [48]:
all_p = ft.list_primitives()
trans_p = all_p.loc[all_p['type'] == 'transform'].copy()
agg_p = all_p.loc[all_p['type'] == 'aggregation'].copy()

pd.options.display.max_colwidth = 100
# agg_p

In [49]:
# Specify aggregation primitives
agg_primitives = ['sum', 'time_since_last', 'avg_time_between', 'all', 'mode', 'num_unique', 'min', 'last', 
                  'mean', 'percent_true', 'max', 'std', 'count']

## Transform Primitives

In [50]:
# trans_p

In [51]:
# Specify transformation primitives
trans_primitives = ['cum_sum', 'diff', 'time_since_previous']

### Where Primitives

These primitives are applied to the `interesting_values` to build conditional features.

In [52]:
# Specify where primitives
where_primitives = ['sum', 'mean', 'percent_true', 'all', 'any']

## Custom Primitives

For this problem, I wrote a custom primitive that calculates the sum of a value in the month prior to the cutoff time.

The second custom primitive finds the time since a previous true value. It simply finds the time between True examples.

In [56]:
def total_previous_month(numeric, datetime, time):
    """Return total of `numeric` column in the month prior to `time`."""
    df = pd.DataFrame({'value': numeric, 'date': datetime})
    previous_month = time.month - 1
    year = time.year
   
    # Handle January
    if previous_month == 0:
        previous_month = 12
        year = time.year - 1
        
    # Filter data and sum up total
    df = df[(df['date'].dt.month == previous_month) & (df['date'].dt.year == year)]
    total = df['value'].sum()
    
    return total

def time_since_true(boolean, datetime):
    """Calculate time since previous true value"""
    
    if np.any(np.array(list(boolean)) == 1):
        # Create dataframe sorted from oldest to newest 
        df = pd.DataFrame({'value': boolean, 'date': datetime}).\
                sort_values('date', ascending = False).reset_index()

        older_date = None

        # Iterate through each date in reverse order
        for date in df.loc[df['value'] == 1, 'date']:

            # If there was no older true value
            if older_date == None:
                # Subset to times on or after true
                times_after_idx = df.loc[df['date'] >= date].index

            else:
                # Subset to times on or after true but before previous true
                times_after_idx = df.loc[(df['date'] >= date) & (df['date'] < older_date)].index
            older_date = date
            # Calculate time since previous true
            df.loc[times_after_idx, 'time_since_previous'] = (df.loc[times_after_idx, 'date'] - date).dt.total_seconds()

        return list(df['time_since_previous'])[::-1]
    
    # Handle case with no true values
    else:
        return [np.nan for _ in range(len(boolean))]

### Custom Primitive Implementation

Making a custom primitive is simple: first we define a function (`total_previous_month`) and then we `make_agg_primitive` with `input_type[s]`, a `return_type`, and whether or not the primitive requires the `cutoff_time` through `uses_calc_time`. 

This primitive is an aggregation primitive because it takes in multiple numbers - transactions for the previous month - and returns a single number - the total of the transactions.

In [57]:
from featuretools.primitives import make_agg_primitive

# Takes in a number and outputs a number
total_previous = make_agg_primitive(total_previous_month, 
                                    input_types = [ft.variable_types.Numeric,
                                                   ft.variable_types.Datetime],
                                    return_type = ft.variable_types.Numeric, 
                                    uses_calc_time = True)

In [58]:
from featuretools.primitives import make_trans_primitive

# Specify the inputs and return
time_since = make_trans_primitive(time_since_true, 
                                  input_types = [ft.variable_types.Boolean, 
                                                  ft.variable_types.Datetime],
                                  return_type = ft.variable_types.Numeric)

Now just have to pass this in as another aggregation primitive for Featuretools to use it in calculations.

Let's add the two custom primitives to the respective lists. In the final version of feature engineering, I did not use the `time_since` primitive. I ran into problems with the implementation but would encourage anyone to try and fix it or build their own custom primitive[s].

In [59]:
agg_primitives.append(total_previous)
trans_primitives.append(time_since)

## Deep Feature Synthesis with Specified Primitives

We'll again run Deep Feature Synthesis to make the feature definitions this time using the selected primitives and the custom primitives.

In [65]:
feature_defs = {}

for entity in ['train', 'lectures', 'questions', 'users']:
  feature_defs[entity] = ft.dfs(entityset=es, target_entity=entity, 
                        # cutoff_time = cutoff_times, 
                        agg_primitives = agg_primitives,
                        trans_primitives = trans_primitives,
                        where_primitives = where_primitives,
                        chunk_size = 100, #len(cutoff_times), 
                        # cutoff_time_in_index = True,
                        max_depth = 2, 
                        features_only = True)

  print(f'This will generate {len(feature_defs[entity])} features for {entity}.')

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['all', 'any', 'mean', 'percent_true', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

This will generate 481 features for train.

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['any']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

This will generate 1443 features for lectures.
This will generate 503 features for questions.
This will generate 1449 features for users.

In [107]:
random.sample(feature_defs, 15)

[<Feature: NUM_UNIQUE(train.user_answer)>,
 <Feature: LAST(train.user_answer)>,
 <Feature: SUM(train.prior_question_elapsed_time WHERE answered_correctly = 0)>,
 <Feature: NUM_UNIQUE(train.task_container_id)>,
 <Feature: MIN(train.prior_question_elapsed_time)>,
 <Feature: MODE(train.task_container_id)>,
 <Feature: PERCENT_TRUE(train.prior_question_had_explanation WHERE answered_correctly = 1)>,
 <Feature: ALL(train.prior_question_had_explanation WHERE answered_correctly = 1)>,
 <Feature: NUM_UNIQUE(train.content_type_id)>,
 <Feature: NUM_UNIQUE(train.content_id)>,
 <Feature: COUNT(train)>,
 <Feature: NUM_UNIQUE(train.answered_correctly)>,
 <Feature: TIME_SINCE_LAST(train.timestamp)>,
 <Feature: LAST(train.content_type_id)>,
 <Feature: MEAN(train.prior_question_elapsed_time WHERE answered_correctly = 1)>]

# Run Deep Feature Synthesis

Once we're happy with the features that will be generated, we can run deep feature synthesis to make the actual features. We need to change `feature_only` to `False` and then we're good to go.

In [66]:
from timeit import default_timer as timer

feature_defs = {}
feature_matrix = {}
for entity in ['train', 'lectures', 'questions', 'users']:
  start = timer()
  tmp_1, tmp_2 = ft.dfs(entityset=es, 
                        target_entity=entity, 
                        # cutoff_time = cutoff_times, 
                        agg_primitives = agg_primitives,
                        trans_primitives = trans_primitives,
                        where_primitives = where_primitives,
                        max_depth = 2, features_only = False,
                        verbose = 1, 
                        chunk_size = 1000,  
                        # n_jobs = -1,
                        # cutoff_time_in_index = True
                        )
  feature_matrix[entity] = tmp_1
  feature_defs[entity] = tmp_2
  end = timer()
  print(f'{round(end - start)} seconds elapsed.')

Built 481 features
Elapsed: 00:00 | Progress:   0%|

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['all', 'any', 'mean', 'percent_true', 'sum']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Elapsed: 03:42 | Progress: 100%|██████████
223 seconds elapsed.
Built 1443 features
Elapsed: 00:00 | Progress:   0%|

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['any']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Elapsed: 01:18 | Progress: 100%|██████████
79 seconds elapsed.
Built 503 features
Elapsed: 00:00 | Progress:   3%|▎

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['any']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Elapsed: 04:10 | Progress: 100%|██████████
251 seconds elapsed.
Built 1449 features
Elapsed: 00:00 | Progress:   0%|

/usr/local/lib/python3.7/dist-packages/featuretools/synthesis/dfs.py:317: UnusedPrimitiveWarning: Some specified primitives were not used during DFS:
  where_primitives: ['any']
This may be caused by a using a value of max_depth that is too small, not setting interesting values, or it may indicate no compatible variable types for the primitive were found in the data.
  warnings.warn(warning_msg, UnusedPrimitiveWarning)

Elapsed: 22:27 | Progress: 100%|██████████
1348 seconds elapsed.

The `chunk_size` is a parameter that may need to be adjusted to optimize the calculation. I suggest playing around with this parameter to find the optimal value. Generally I've found that a large value makes the calculation proceed quicker although it depends on the machine in use and the number of unique cutoff times.

In [72]:
feature_defs['users']

[<Feature: ALL(train.prior_question_had_explanation)>,
 <Feature: AVG_TIME_BETWEEN(train.timestamp)>,
 <Feature: COUNT(train)>,
 <Feature: LAST(train.answered_correctly)>,
 <Feature: LAST(train.content_id)>,
 <Feature: LAST(train.content_type_id)>,
 <Feature: LAST(train.prior_question_elapsed_time)>,
 <Feature: LAST(train.prior_question_had_explanation)>,
 <Feature: LAST(train.row_id)>,
 <Feature: LAST(train.task_container_id)>,
 <Feature: LAST(train.user_answer)>,
 <Feature: MAX(train.prior_question_elapsed_time)>,
 <Feature: MEAN(train.prior_question_elapsed_time)>,
 <Feature: MIN(train.prior_question_elapsed_time)>,
 <Feature: MODE(train.answered_correctly)>,
 <Feature: MODE(train.content_id)>,
 <Feature: MODE(train.content_type_id)>,
 <Feature: MODE(train.task_container_id)>,
 <Feature: MODE(train.user_answer)>,
 <Feature: NUM_UNIQUE(train.answered_correctly)>,
 <Feature: NUM_UNIQUE(train.content_id)>,
 <Feature: NUM_UNIQUE(train.content_type_id)>,
 <Feature: NUM_UNIQUE(train.task_container_id)>,
 <Feature: NUM_UNIQUE(train.user_answer)>,
 <Feature: PERCENT_TRUE(train.prior_question_had_explanation)>,
 <Feature: STD(train.prior_question_elapsed_time)>,
 <Feature: SUM(train.prior_question_elapsed_time)>,
 <Feature: TIME_SINCE_LAST(train.timestamp)>,
 <Feature: TOTAL_PREVIOUS_MONTH(train.prior_question_elapsed_time, timestamp)>,
 <Feature: ALL(train.prior_question_had_explanation WHERE answered_correctly = 0)>,
 <Feature: ALL(train.prior_question_had_explanation WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.0)>,
 <Feature: ALL(train.questions.0 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.0 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.1)>,
 <Feature: ALL(train.questions.1 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.1 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.10)>,
 <Feature: ALL(train.questions.10 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.10 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.100)>,
 <Feature: ALL(train.questions.100 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.100 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.101)>,
 <Feature: ALL(train.questions.101 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.101 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.102)>,
 <Feature: ALL(train.questions.102 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.102 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.103)>,
 <Feature: ALL(train.questions.103 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.103 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.104)>,
 <Feature: ALL(train.questions.104 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.104 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.105)>,
 <Feature: ALL(train.questions.105 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.105 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.106)>,
 <Feature: ALL(train.questions.106 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.106 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.107)>,
 <Feature: ALL(train.questions.107 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.107 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.108)>,
 <Feature: ALL(train.questions.108 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.108 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.109)>,
 <Feature: ALL(train.questions.109 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.109 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.11)>,
 <Feature: ALL(train.questions.11 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.11 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.110)>,
 <Feature: ALL(train.questions.110 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.110 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.111)>,
 <Feature: ALL(train.questions.111 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.111 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.112)>,
 <Feature: ALL(train.questions.112 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.112 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.113)>,
 <Feature: ALL(train.questions.113 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.113 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.114)>,
 <Feature: ALL(train.questions.114 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.114 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.115)>,
 <Feature: ALL(train.questions.115 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.115 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.116)>,
 <Feature: ALL(train.questions.116 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.116 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.117)>,
 <Feature: ALL(train.questions.117 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.117 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.118)>,
 <Feature: ALL(train.questions.118 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.118 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.119)>,
 <Feature: ALL(train.questions.119 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.119 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.12)>,
 <Feature: ALL(train.questions.12 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.12 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.120)>,
 <Feature: ALL(train.questions.120 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.120 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.121)>,
 <Feature: ALL(train.questions.121 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.121 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.122)>,
 <Feature: ALL(train.questions.122 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.122 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.123)>,
 <Feature: ALL(train.questions.123 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.123 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.124)>,
 <Feature: ALL(train.questions.124 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.124 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.125)>,
 <Feature: ALL(train.questions.125 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.125 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.126)>,
 <Feature: ALL(train.questions.126 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.126 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.127)>,
 <Feature: ALL(train.questions.127 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.127 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.128)>,
 <Feature: ALL(train.questions.128 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.128 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.129)>,
 <Feature: ALL(train.questions.129 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.129 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.13)>,
 <Feature: ALL(train.questions.13 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.13 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.130)>,
 <Feature: ALL(train.questions.130 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.130 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.131)>,
 <Feature: ALL(train.questions.131 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.131 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.132)>,
 <Feature: ALL(train.questions.132 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.132 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.133)>,
 <Feature: ALL(train.questions.133 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.133 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.134)>,
 <Feature: ALL(train.questions.134 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.134 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.135)>,
 <Feature: ALL(train.questions.135 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.135 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.136)>,
 <Feature: ALL(train.questions.136 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.136 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.137)>,
 <Feature: ALL(train.questions.137 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.137 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.138)>,
 <Feature: ALL(train.questions.138 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.138 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.139)>,
 <Feature: ALL(train.questions.139 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.139 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.14)>,
 <Feature: ALL(train.questions.14 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.14 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.140)>,
 <Feature: ALL(train.questions.140 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.140 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.141)>,
 <Feature: ALL(train.questions.141 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.141 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.142)>,
 <Feature: ALL(train.questions.142 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.142 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.143)>,
 <Feature: ALL(train.questions.143 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.143 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.144)>,
 <Feature: ALL(train.questions.144 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.144 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.145)>,
 <Feature: ALL(train.questions.145 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.145 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.146)>,
 <Feature: ALL(train.questions.146 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.146 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.147)>,
 <Feature: ALL(train.questions.147 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.147 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.148)>,
 <Feature: ALL(train.questions.148 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.148 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.149)>,
 <Feature: ALL(train.questions.149 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.149 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.15)>,
 <Feature: ALL(train.questions.15 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.15 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.150)>,
 <Feature: ALL(train.questions.150 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.150 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.151)>,
 <Feature: ALL(train.questions.151 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.151 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.152)>,
 <Feature: ALL(train.questions.152 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.152 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.153)>,
 <Feature: ALL(train.questions.153 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.153 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.154)>,
 <Feature: ALL(train.questions.154 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.154 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.155)>,
 <Feature: ALL(train.questions.155 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.155 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.156)>,
 <Feature: ALL(train.questions.156 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.156 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.157)>,
 <Feature: ALL(train.questions.157 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.157 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.158)>,
 <Feature: ALL(train.questions.158 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.158 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.159)>,
 <Feature: ALL(train.questions.159 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.159 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.16)>,
 <Feature: ALL(train.questions.16 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.16 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.160)>,
 <Feature: ALL(train.questions.160 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.160 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.161)>,
 <Feature: ALL(train.questions.161 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.161 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.162)>,
 <Feature: ALL(train.questions.162 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.162 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.163)>,
 <Feature: ALL(train.questions.163 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.163 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.164)>,
 <Feature: ALL(train.questions.164 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.164 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.165)>,
 <Feature: ALL(train.questions.165 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.165 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.166)>,
 <Feature: ALL(train.questions.166 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.166 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.167)>,
 <Feature: ALL(train.questions.167 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.167 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.168)>,
 <Feature: ALL(train.questions.168 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.168 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.169)>,
 <Feature: ALL(train.questions.169 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.169 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.17)>,
 <Feature: ALL(train.questions.17 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.17 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.170)>,
 <Feature: ALL(train.questions.170 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.170 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.171)>,
 <Feature: ALL(train.questions.171 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.171 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.172)>,
 <Feature: ALL(train.questions.172 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.172 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.173)>,
 <Feature: ALL(train.questions.173 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.173 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.174)>,
 <Feature: ALL(train.questions.174 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.174 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.175)>,
 <Feature: ALL(train.questions.175 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.175 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.176)>,
 <Feature: ALL(train.questions.176 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.176 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.177)>,
 <Feature: ALL(train.questions.177 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.177 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.178)>,
 <Feature: ALL(train.questions.178 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.178 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.179)>,
 <Feature: ALL(train.questions.179 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.179 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.18)>,
 <Feature: ALL(train.questions.18 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.18 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.180)>,
 <Feature: ALL(train.questions.180 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.180 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.181)>,
 <Feature: ALL(train.questions.181 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.181 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.182)>,
 <Feature: ALL(train.questions.182 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.182 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.183)>,
 <Feature: ALL(train.questions.183 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.183 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.184)>,
 <Feature: ALL(train.questions.184 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.184 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.185)>,
 <Feature: ALL(train.questions.185 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.185 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.186)>,
 <Feature: ALL(train.questions.186 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.186 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.187)>,
 <Feature: ALL(train.questions.187 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.187 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.19)>,
 <Feature: ALL(train.questions.19 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.19 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.2)>,
 <Feature: ALL(train.questions.2 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.2 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.20)>,
 <Feature: ALL(train.questions.20 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.20 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.21)>,
 <Feature: ALL(train.questions.21 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.21 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.22)>,
 <Feature: ALL(train.questions.22 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.22 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.23)>,
 <Feature: ALL(train.questions.23 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.23 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.24)>,
 <Feature: ALL(train.questions.24 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.24 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.25)>,
 <Feature: ALL(train.questions.25 WHERE answered_correctly = 0)>,
 <Feature: ALL(train.questions.25 WHERE answered_correctly = 1)>,
 <Feature: ALL(train.questions.26)>,
 <Feature: ALL(train.questions.26 WHERE answered_correctly = 0)>,

In [67]:
feature_matrix['users']

            ALL(train.prior_question_had_explanation)  ...  TIME_SINCE_TRUE(LAST(train.prior_question_had_explanation), LAST(train.timestamp))
user_id                                                ...
115                                              True  ...                                                                               0.000
91216                                            True  ...                                                                               0.000
220268                                           True  ...                                                                               0.000
650467                                           True  ...                                                                               0.000
1084314                                         False  ...                                                                               0.000
...                                               ...  ...                                                                                 ...
2146686585                                       True  ...                                                                         1309537.989
2146925942                                       True  ...                                                                               0.000
2147012157                                       True  ...                                                                               0.000
2147192385                                      False  ...                                                                               0.000
2147481750                                       True  ...                                                                               0.000

[10057 rows x 1449 columns]

In [68]:
feature_matrix['train']

           user_id  ... TIME_SINCE_TRUE(questions.99, timestamp)
row_id              ...
0              115  ...                                      NaN
543      116101507  ...                                      NaN
883      192321976  ...                                      NaN
1091     237419764  ...                                      NaN
1495     322530642  ...                                      NaN
...            ...  ...                                      ...
8731    1857664183  ...                             3.691242e+07
907      197212993  ...                             3.696143e+07
6991    1486864723  ...                             3.769452e+07
2431     519974433  ...                             4.080694e+07
704      153187243  ...                             4.585440e+07

[10124 rows x 481 columns]

In [70]:
feature_matrix['lectures']

            tag  ... TIME_SINCE_TRUE(LAST(train.prior_question_had_explanation), LAST(train.timestamp))
lecture_id       ...
89          159  ...                                                                                NaN
100          70  ...                                                                                NaN
185          45  ...                                                                                NaN
192          79  ...                                                                                NaN
317         156  ...                                                                                NaN
...         ...  ...                                                                                ...
32535         8  ...                                                                              0.000
32570       113  ...                                                                         401945.645
32604        24  ...                                                                         825445.787
32625       142  ...                                                                        2535573.010
32736        82  ...                                                                        4890011.478

[418 rows x 1443 columns]

In [71]:
feature_matrix['questions']

            bundle_id  ... TIME_SINCE_TRUE(LAST(train.prior_question_had_explanation), LAST(train.timestamp))
question_id            ...
0                   0  ...                                                                                NaN
1                   1  ...                                                                                NaN
2                   2  ...                                                                                NaN
3                   3  ...                                                                                NaN
4                   4  ...                                                                                NaN
...               ...  ...                                                                                ...
13518           13518  ...                                                                        1309537.989
13519           13519  ...                                                                              0.000
13520           13520  ...                                                                              0.000
13521           13521  ...                                                                              0.000
13522           13522  ...                                                                              0.000

[13522 rows x 503 columns]

We can save these feature definitions as a binary file which will allow us to make the same exact features for another entityset of the same format. This is useful when we have multiple partitions and we want to make the same features for each. Instead of remaking the feature definitions, we pass in the same feature definitions to a call to `calculate_feature_matrix`.

In [74]:
# define paths
feature_matrix_paths = {}
feature_matrix['lectures'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_matrix_lectures.pkl.gzip'
feature_matrix['questions'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_matrix_questions.pkl.gzip'
feature_matrix['train'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_matrix_train.pkl.gzip'
feature_matrix['users'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_matrix_users.pkl.gzip'

feature_defs_paths = {}
feature_defs['lectures'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_defs_lectures.pkl.gzip'
feature_defs['questions'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_defs_questions.pkl.gzip'
feature_defs['train'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_defs_train.pkl.gzip'
feature_defs['users'] = '/content/drive/MyDrive/Colab Notebooks/riiid-test-answer-prediction/data/intermediate/feature_defs_users.pkl.gzip'

# Save files
for key in feature_defs_paths.keys():
  for open(feature_defs_paths[key], 'wb') as f:
    ft.save_features(feature_defs[key], f)
  for open(feature_matrix_paths[key], 'wb') as f:
    pd.

In [ ]:
with open